#main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.left-column {
    float: left;
}

.subtitle {        
    color: black;
    font-style: italic;
    font-size: 17px;    
    padding: 15px 0px 10px 20px;    
}

.jetwicklogo a {
    text-decoration: none;
}

.search-tweet-tf { 
    font-size: 18px;
    height: 23px;
}

#resultslist {    
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: gray 1px groove;
}

#resultslist ul {
    padding-left: 0px; 
    margin: 0px;
}
#resultslist .users {
    margin: 0px;
}

#resultslist-header {
    min-height: 40px;
    font-size: 0.8em;    
    border-bottom: 1px solid gray;        
}
/*
#resultslist-header .sorting {    
    float: right;    
}*/
#resultslist-footer {    
    padding: 4px;
}

.users {
    padding-top: 10px;
}

.users li { list-style: none; }
.user {
    padding: 10px;
}
.user-name {     
    font-weight: bold; font-size: 0.8em; 
}

.user-name {
    padding: 0 0 0 0;
}

.user-name a span {            
    padding-right: 5px;    
}
.tweet-created {
    font-size: 9px;
    color: gray;
}

.sorting .selected, .hitsPerPage .selected  {
    font-weight: bold;
}

.filter {
    width: 155px;
    margin-top: 0px;
    padding: 130px 15px 0px 10px;
}

.filter-rm { font-weight: bold }
.filter .filter-count {
    font-size: 0.7em;
    color: gray
}
.filter ul { margin-top: 0px; padding-top: 5px; padding-left: 5px; }

.filter-names { padding-bottom: 15px;}
.filter-names ul li { font-size: 0.9em; }
.filter-names ul li span.gray { color: gray; }

.filter li { list-style: none; }

.content {
    float: left;
}

.query-plus-button, .content {
    width: 330px;
}
#querybox {
    width: 75%;    
}
#searchform-button {
    font-size: 16px;
    border: medium medium;
    height: 28px;
    width: 72px;    
}
